body{
    background-color: rgb(255, 229, 178);
    font-size: 20px;
    font-weight: bold;
    align-items: center;

}
#headng{
    align-self:center;
}
input{
    background-color: rgb(205, 247, 205);
    border:1px dashed  black;
}
table{
    align-self:center;
    margin: 0 auto;
    border:3px solid rgb(0, 0, 255)
    
}
td{
    padding:10px;
    text-align:center;
    align-items: center;
}
th{
    padding:10px;
    text-align:center;
    align-items: center;
}
label{
    text-align: center;

}
#details,#result{
    text-align: left;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    height:600px;
    width:1000px;
    background-color: rgb(214, 222, 255);
    border-radius:20px;
    border:1px solid black;
}
span{
    color:red;
    font-size: 15px;
    font-weight:lighter;
}